@model TwitterClone.ViewModel.ListCreateTweetViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <p>

    </p>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <form method="post">
                <div class="form-group">
                    <input asp-for="CreateViewModel.Message" class="form-control" style="min-width: 100%" rows="4" />
                    <span asp-validation-for="CreateViewModel.Message"></span>
                    <input type="submit" value="Create" class="btn btn-default"/>
                </div>
            </form>
    </div>
    @foreach (var tweet in Model.ListViewModel.TweetList)
    {

        <div class="panel panel-danger">
            <div class="panel-body">
                <a href="#">@@@tweet.Person</a>
                <div class="text-right" style="float:right">
                    @TimeAgoCalculater.Calculate(tweet.DateTime)
                </div>
                <p>@tweet.Message</p>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Reply
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> Retweet
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Like
                </button>
            </div>
        </div>
    }
</div>
</div>
